body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/backgroundmain1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.navbar {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 0px;
}

.navbar-right a {
    color: #333;
    text-decoration: none;
    font-weight: 540;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-info {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    overflow: hidden;
}

.dashboard-info h1 {
    font-size: 24px;
    margin-bottom: 1px;
    color: #333;
}

.dashboard-info p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.dashboard {
    margin-top: 20px;
    max-width: 80%;
    min-height: 35%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.dashboard-item {
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.dashboard-item:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.dashboard-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

.dashboard-item h2 {
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
    color: #333;
}

.dashboard-item img {
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}
