body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('../img/backgroundmain1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.navbar p {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right a {
    color: #333;
    text-decoration: none;
    font-weight: 540;
}

.header {
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  padding: 5px;
  text-align: center;
}

.logo {
  width: 50px; 
  height: 50px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  flex:2;
}

.emissions-container {
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.emission-factor {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.display-output {
  color: black;
  display:flex;
  background-color: white;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
}

.output-text {
  width: 100%;
  padding-top:0px;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.calculate-container {
  margin-top: 20px;
  padding-bottom: 50px;
}

.calculate-button {
  background-color: rgba(176, 255, 0, 0.58);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;
}

.calculate-button:hover {
  background-color: rgba(24, 142, 41, 0.8);
  transform: scale(1.05);
}

.track-button {
  background-color: rgba(176, 255, 0, 0.58);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  min-width: 100px;

}

.calculate-button:hover,
.track-button:hover {
  background-color: rgba(24, 142, 41, 0.8);
  transform: scale(1.05);
}
