/* Add Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --green: #28B463; /* A fresh green for sustainability */
    --brown: #A04000; /* Earthy brown for organic materials */
    --blue: #3498DB; /* Blue for water conservation */
    --gray: #5D6D7E; /* Gray for emissions and industrial factors */
    --dark-overlay: rgba(0, 0, 0, 0.8); /* Dark overlay for better readability */
    --text-light: #ffffff;
    --text-dark: #333333;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-secondary);
    background-image: url('../img/backgroundmain1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    padding: 0px;
}

.navbar {
    background-color: var(--green);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary);
}

.navbar-right a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 540;
    transition: color 0.3s;
}

.navbar-right a:hover {
    color: var(--blue); /* Hover color change */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the rows horizontally */
}

.row {
    display: flex;
    width: 80%; /* Set width of rows */
    margin: 20px 0; /* Add margin between rows */
    flex-wrap: wrap; /* Ensure responsiveness */
}

.chart-container-pi,
.text-container,
.chart-container-line {
    background-color: var(--dark-overlay);
    color: var(--text-light); /* Text color */
    padding: 20px;
    margin: 10px;
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adds depth */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.chart-container-pi:hover,
.chart-container-line:hover,
.text-container:hover {
    transform: scale(1.03); /* Slightly enlarge on hover */
}

.chart-container-pi {
    flex: 2.5;
}

.chart-container-line {
    flex: 6;
    min-height: 300px;
}

.text-container {
    flex: 4; /* Four-thirds width (40% of the row) */
    border-radius: 50px; /* Rounded corners */
}

.chart-container-pi canvas,
.chart-container-line canvas {
    width: 100%; /* Ensure canvas fills its container */
    height: auto; /* Adjust height automatically */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .chart-container-pi,
    .text-container,
    .chart-container-line {
    flex: none;
    width: 90%; /* Adjust width for mobile */
    }
}
