<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
    <title>Account Management - Carbon Footprint Tracker</title>
</head>
<body>
    <div class="login-container">
        <img src="static/img/logoleaf.png" alt="logo" class="logo">
        <h3>Account Management </h2>
        <form action="/" method="get">
            <label for="username">Enter your email:</label>
            <input type="text" id="email" name="email" required>



            <label for="password">Enter your password:</label>
            <input type="password" id="password1" name="password1" required>

            <label for="password">Enter a new password:</label>
            <input type="password" id="password1" name="password1" required>

            <label for="password">Confirm new password:</label>
            <input type="password" id="password2" name="password2" required>

            <button type="submit">Change Details</button>


        </form>

        <div class="options-container">
            <a href="/mainmenu" class="option">Home</a>
        </div>
    </div>
</body>
</html>
