<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleVisualise.css') }}">
    <title>Footprint Breakdown</title>
</head>
<body>
  <div class="navbar">
    <div class="navbar-right">
      <a href="/mainmenu"><img src="static/img/logoleaf.png" alt="logo" class="logo"> Home </a>
    </div>
  </div>
  <div id="graph-data" style="display: none;">{{ graph_data | tojson }}</div>
  <div class="container">
      <div class="row">
          <div class="chart-container-pi">
            <h3><u>Footprint Breakdown</u></h3>
            <canvas id="pie-chart"></canvas>
            <p>This pie chart shows breaks down your overall monthly footprint into emission categories. Each category is measured in kg of C02 emissions, with their sum being your monthly footprint.</p>
          </div>
      <div class="text-container"><p>{{improvements}}</p></div>
      </div>
      <div class="row">
          <div class="text-container"><p>{{discussion}}</p></div>
          <div class="chart-container-line">
              <h3><u>Track your footprint</u></h3>
              <canvas id="line-chart"></canvas>
              <p>This chart shows your progress in terms of forecasted annual footprint for each of the last 6 months. This can be compared to the average footprint per person in the UK and in your region. </p>
          </div>
      </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script/scriptBreakdown.js') }}"></script>
</body>
</html>
